
.mapContainer {
  background-image: url('./Satellite2.jpeg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableWrapper {
  position: absolute;
  width: 97.5%;
}

.table-cell.reserved {
  background-color: red;
}
.note {
  text-align: center;
  background-color: aliceblue;
  border-radius: 9px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  padding: 30px;
  top: 16%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  max-width: 800px;
}

@media (max-width: 960px) {
  .note {
    top: 9%; 
  }
}
@media (max-height: 960px) {
  .note {
    top: 9%; /* Adjust this value for smaller screens */
  }
}
@media  (max-height: 853px) {
  .note {
    top:1%;  
    width: 900px;
  }
}